extends base

block append head 
  link(rel="stylesheet", href="/css/about.css")

block content 
  main.about-main
    header.header-about 
      .container
        h1 About Us   

    .section
      .container 
        h2 Our Mission
        p
          | Our mission is to provide innovative solutions that make a positive impact on the world. 
          | We strive to exceed expectations through dedication, creativity, and integrity in everything we do.

    .section
     .container 
        h2 Our Team
        p
          | Meet our team of dedicated professionals who are passionate about what they do. 
          | Each member brings a unique set of skills and experiences to the table, working together to achieve our goals.

    .section
      .container
        h2 Our Values
        ul
          li Integrity: We uphold the highest standards of honesty and transparency.
          li Excellence: We are committed to delivering top-quality results.
          li Innovation: We embrace new ideas and approaches to stay ahead.
          li Collaboration: We work together to achieve common goals and support each other.

    .section
      .container
        h2 Contact Us
        p
          | If you have any questions or would like to get in touch, feel free to reach out to us:
        ul
          li Email: help@er-decor.com
          li Phone: +92 (355) 5374466
          li Address: Mirpur University of Science and Technology (MUST) Mirpur AJ&K.
