extends base 

block content 
  //- section.hero
    .hero__slider.owl-carousel
      .hero__items.set-bg(data-setbg='/img/hero/hero-bg.jpg')
        .container
          .row
            .col-xl-5.col-lg-7.col-md-8
              .hero__text
                h6 AR-Decorize
                h2 Luxury Decor with Augmented Reality
                p
                  | Experience premium furniture and decor, including tables, chairs, sofas, lighting, and paintings. 
                  | Transform your home with our AR features and exceptional quality.
                a.primary-btn(href='/products')
                  | Shop now 
                  span.arrow_right
                //- .hero__social
                //-   a(href='#')
                //-     i.fa.fa-facebook
                //-   a(href='#')
                //-     i.fa.fa-twitter
                //-   a(href='#')
                //-     i.fa.fa-pinterest
                //-   a(href='#')
                //-     i.fa.fa-instagram
      .hero__items.set-bg(data-setbg='/img/hero/hero-2.jpg')
        .container
          .row
            .col-xl-5.col-lg-7.col-md-8
              .hero__text
                h6 AR-Decorize
                h2 Luxury Decor with Augmented Reality
                p
                  | Experience premium furniture and decor, including tables, chairs, sofas, lighting, and paintings.
                  | Transform your home with our AR features and exceptional quality.
                a.primary-btn(href='/products')
                  | Shop now 
                  span.arrow_right
                //- .hero__social
                //-   a(href='#')
                //-     i.fa.fa-facebook
                //-   a(href='#')
                //-     i.fa.fa-twitter
                //-   a(href='#')
                //-     i.fa.fa-pinterest
                //-   a(href='#')
                //-     i.fa.fa-instagram

  .wrapper 
    section.section-hero
      .section-hero__container-left
        h1 [ AR-Decorize ]
        h2 Luxury Decor with Augmented Reality
        p
          | Experience premium furniture and decor, including tables, chairs, sofas, lighting, and paintings. 
          | Transform your home with our AR features and exceptional quality.
        a.primary-btn.btn-shop-now(href='/products')
          | Shop now 
          span.arrow_right
      .section-hero__container-right
        model-viewer#model-viewer(src='/img/office_chair.glb' ar='' ar-modes='scene-viewer quick-look' camera-controls='' touch-action='pan-y' alt='A 3D model of a chair' shadow-intensity='2' auto-rotate='' disable-pan='' style='width: 400px; height: 400px')
        #error.hide AR is not supported on this device

  section.banner.spad
    .container
      .row
        .col-lg-7.offset-lg-4
          .banner__item
            .banner__item__pic
              img(src='img/banner/banner-1.jpg' alt='')
            .banner__item__text
              h2 Elegant Home Accessories
              a(href='/products') Shop now
        .col-lg-5
          .banner__item.banner__item--middle
            .banner__item__pic
              img(src='img/banner/banner-2.jpg' alt='')
            .banner__item__text
              h2 Luxury Furniture Collection
              a(href='/products') Shop now
        .col-lg-7
          .banner__item.banner__item--last
            .banner__item__pic
              img(src='img/banner/banner-3.jpg' alt='')
            .banner__item__text
              h2 Augmented Reality Experience
              a(href='/products') Shop now
  // Categories Section Begin
  section.categories.spad
    .container
      .row
        .col-lg-3
          .categories__text
            h2
              | AR Decor 
              br
              span Furniture Collection
              br
              |  Accessories
        .col-lg-4
          .categories__hot__deal
            model-viewer#model-viewer(src='/img/sofa1.glb' ar='' ar-modes='scene-viewer quick-look' camera-controls='' touch-action='pan-y' alt='A 3D model of a chair' shadow-intensity='2' auto-rotate='' disable-pan='' style='width: 400px; height: 400px')
            .hot__deal__sticker
              span Sale Of
              h5 Rs 34000
        .col-lg-4.offset-lg-1
          .categories__deal__countdown
            span Deal Of The Week
            h2 Luxury Brown Sofa for Rest
            #countdown.categories__deal__countdown__timer
              .cd-item
                span 3
                p Days
              .cd-item
                span 1
                p Hours
              .cd-item
                span 50
                p Minutes
              .cd-item
                span 18
                p Seconds
            a.primary-btn(href='/product/669e9f16a4cea0c34c86356e') Shop now
    // Categories Section End



